


/*-----------------------------------Basic Reset----------------------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 75.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    box-sizing: border-box;
}

/*-------------------------------------Section 1------------------------------------------------*/
.header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/img/mette-van-der-linden-A_Fvhie9MZY-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.row {
    max-width: 108rem;
    margin: 0 auto;
}

.row__logo {
    height: 9rem;
    width: auto;
    float: left;
    margin-top: 1rem;
}

.row__logo-icon {
    height: 3.5rem;
    width: auto;
    float: left;
    margin-top: 1rem;
    display: none;
}

.row__mainNav {
    float: right;
    list-style: none;
    margin-top: 5.4rem;
}

.row__mainNav li {
    display: inline-block;
    margin-left: 4rem;
}

.row__mainNav li a:link,
.row__mainNav li a:visited {
    padding: 0.8rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 0.2rem solid transparent;
    transition: border-bottom 0.2s;
}

.row__mainNav li a:hover,
.row__mainNav li a:visited {
    border-bottom: 0.2rem solid #e67e22;
}

.row__btn:link,
.row__btn:visited {
    padding: 1rem 1.5rem !important;
    border-radius: 1.5rem !important;
    text-decoration: none !important;
    font-size: 90% !important;
    text-transform: uppercase !important;
    border: 0.2rem solid #e67e22 !important;
    transition: color 0.2s, background-color 0.2s !important;
}

.row__btn:hover,
.row__btn:visited {
    background-color: #e67e22 !important;
}

.header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translate(-0.1rem);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--white::after {
    background-color: #fff;;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
}
/*--------------------------------------sticky navigation----------------------------------*/

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 098);
    box-shadow: 0 2px 2px #efefef;
    z-index: 11;
}

.stickyCont {
    visibility: hidden;
}

/*$(document).ready(function() {
    $('h1').click(function() {
        $(this).css('background-color', '#ff0000');
    });
});*/

.sticky .row__mainNav li a:link,
.sticky .row__mainNav li a:visited {
    color: #999;
    padding: 1.3rem 0;
}

.sticky .row__mainNav li a:hover,
.sticky .row__mainNav li a:visited {
    border-bottom: 0.3rem solid #e67e22;
}

.sticky .row__btn:link,
.sticky .row__btn:visited {
    color: #fff !important; 
    background-color: #e67e22 !important; 
    transition: box-shadow 0.3s !important;
}

.sticky .row__btn:hover,
.sticky .row__btn:visited {
    box-shadow: 0 0px 13px #777 !important;
}

.sticky .row__logo { display: none; }
.sticky .row__logo-icon { 
    display: block; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sticky .row__mainNav {
    margin-top: 1.2rem;
}

/*-------------------------------------Animations------------------------------------------*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }
    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }
    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*--------------------headings-------------------------------------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 200%;
    word-spacing: 0.4rem;
}

h2 {
    font-size: 180%;
    word-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 110%;
    margin-bottom: 1.5rem;
}

h2:after {
    display: block;
    height: 0.2rem;
    background-color: #e67e22;
    content: "";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
}

/*----------------------------------Section 2-------------------------------*/
.sectionFeatures {
    padding: 6rem 0;
}

.sectionFeatures .longCopy {
    text-align: center;
    margin-bottom: 3rem;
}

.sectionFeatures p {
    text-align: justify;
    padding: 0 1rem 0 0;
}

.iconBig {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

ion-icon .iconBig {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;   
}

.MARGIN {
    margin-top: 2rem;
}
/*----------------------------------Section 3-------------------------------*/
.sectionBestseller {
    padding: 8rem 0;
    background-color: #f4f4f4;
}

.longCopy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.sectionBestseller .longCopy {
    margin-bottom: 3rem;
}

.box img {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.pizzaBox {
    box-shadow: 0 0.2rem 2.2rem 0.5rem #e8e8e8;
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: #fff;
}

.pizza-content {
    padding: 1rem;
    margin-bottom: 2rem;
}

.price {
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.pizzaBox .price {
    text-align: right;
}

.button:link,
.button:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 0.1rem solid #e67e22;
    border-radius: 1.5rem;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s;
}

.button:link,
.button:hover {
    color: #fff;
    background-color: #e67e22;
}

.bestSellerTag {
    display: inline-block;
    border-bottom: 0.2rem;
}

.tag {
    margin-left: 6rem;
    text-transform: uppercase;
    background-color: #fff;
    padding: 1rem 2rem;
    border: 0.1rem solid #777;
    box-shadow: 0 0.1rem 2rem 0.2rem #e8e8e8;
    border-radius: 10rem;
    width: auto;
    position: relative;
}

.tag-hr {
    border-bottom: 1px solid rgb(73, 73, 73);
    position: relative;
    width: 100%;
    top: 1.9rem;
    z-index: 0;
}

.pizzaBox h3 {
    font-weight: 400;
}

/*-----------------------------Section 4----------------------------------*/
.sectionNewest {
    padding: 8rem 0;
}

.sectionNewest .row {
    max-width: 119rem;
}

.pizza {
    max-width: 80rem;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2rem 5rem 1rem rgba(0,0,0,.2);
    display: flex;
    align-items: stretch;
}

.pizza__hero {
    flex: 0 0 36%;
}

.pizza__img {
    width: 100%;
    height: 100%;
    display: block;
}

.pizza__content {
    flex: 1;
    background: #fff;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
}

.pizza__price {
    flex: 0 0 5rem;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    writing-mode: vertical-rl;
    color: white;
    font-size: 1.8rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pizza__title {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
  }

  .pizza__heading {
      font-size: 2rem;
      margin-right: auto;
  }

  .pizza__tag {
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      padding: 0.2rem 0.7rem;
      border-radius: 10rem;
      margin-left: 0.7rem;
  }

  .pizza__tag--1 { background-color: #67b26f; }
  .pizza__tag--2 { background-color: #4ca2cd; }

  .pizza__description {
    font-size: 75%;
  }

  .pizza__details {
    display: flex;
    margin-top: 4rem;
  }

  .pizza__detail {
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 2rem;
    font-weight: 700;
    
    display: flex;
    align-items: flex-end;
  }
  
  .emoji {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }

.pizza .price {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
    font-weight: 700;
    
    display: flex;
    align-items: flex-end;
}

.pizza__details .button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
}

.sectionNewest .longCopy {
    margin-bottom: 3rem;
}

.gradient {
    padding: 7rem 0;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}

.pizza__content h3 {
    font-size: 95%;
    font-weight: 400;
}

/*-----------------------------------Section 5--------------------------------------*/
.sectionVeg {
    padding: 1rem 0;
}

.sectionVeg .bestSellerTag {
    margin-top: 2rem;
}

/*
.sets {
    padding: 2.4rem 4.8rem;
    display: flex;
}

.sets-flex {
    height: 70%;
}

.sets__elm {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
    justify-content: stretch;
    margin-right: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.elm__img {
    flex: 0 0 45%;
    overflow: hidden;
    max-height: 15rem;
    overflow: hidden;
}

.sets__img--img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.elm__content {
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid #777;
}

.Buy-now {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.setsCont {
    display: block;
}
*/

.sectionVeg .pizzaBox {
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
}

.sectionVeg .pizza-content {
    border-bottom: 1px solid #777;
    padding-bottom: 2rem;
}

.sectionVeg h3 {
    font-weight: 300;
    font-size: 85%;
}

.sectionVeg .pizza-content-sub {
    font-size: 75%;
    font-weight: 300;
    margin-bottom: 2rem;
}

.sectionVeg img {
    height: 10rem;
}

.sectionVeg .button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
}

/*-------------------------------section 6-----------------------*/
.MoreAboutUs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/img/louis-hansel-QsKO_VoYoZU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    color: #fff;
    padding: 13rem 0 15rem 0;
}

.translate {
    top: 50%;
    left: 50%;
    color: #fff;
    margin-bottom: 7rem;
}

.translate .longCopy {
    font-size: 110%;
}

.MoreAboutUs h3 {
    font-size: 200%;
    font-weight: 500;
    text-align: center;
}

.MoreAboutUs .box p {
    font-size: 110%;
    text-align: center;
}

.MoreAboutUs h3::after {
    display: block;
    height: 0.2rem;
    background-color: #e67e22;
    content: " ";
    width: 13rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.MoreAboutUs p:last-child {
    text-align: center;
}

.lastP {
    margin-top: 6rem;
}

/*-------------------------------------section Nonveg-------------------------------*/
.sectionNonveg {
    padding: 3rem 0 7rem 0;
}

.sectionNonveg .bestSellerTag {
    margin-top: 2rem;
}

.sectionNonveg .pizzaBox {
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
}

.sectionNonveg .pizza-content {
    border-bottom: 1px solid #777;
    padding-bottom: 2rem;
}

.sectionNonveg h3 {
    font-weight: 300;
    font-size: 85%;
}

.sectionNonveg .pizza-content-sub {
    font-size: 75%;
    font-weight: 300;
    margin-bottom: 2rem;
}

.sectionNonveg img {
    height: 10rem;
}

.sectionNonveg .button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
}

/*-----------------------------------section meals--------------------------------*/
.sectionMeals {
    background-color: #f4f4f4;
    padding: 3rem 0 7rem 0;
}

.sectionMeals .bestSellerTag {
    margin-top: 2rem;
}

/*----------------------------------section subscribe------------------------------*/
.sectionSubscribe {
    padding: 7rem;
    background-image: linear-gradient(to right bottom, #67b26f, #4ca2cd);
}

.subscribe {
    background-image: linear-gradient(105deg,
                    rgba(255, 255, 255, 0.9) 0%, 
                      rgba(255, 255, 255, 0.9) 50%, 
                      transparent 50%), 
                      url(../resources/img/bg2.jpg);
    background-size: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 2rem 5rem 1rem rgba(0,0,0,.2);
}

.subscribe__form {
    width: 50%;
    padding: 7rem;
}

.form h3 {
    font-size: 150%;
    font-weight: 600;
    color: #67b26f;
    margin-bottom: 5rem;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1.5rem;
    padding: 1.3rem 1.7rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.83);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-bottom: 0.3rem solid #67b26f;
}

.form__input::-webkit-input-placeholder {
    color: #999;
}

.form__input:focus:invalid {
    border-bottom: 0.3rem solid #b66f5a;
}

.form__label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form__group .submit {
    display: inline-block;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    padding: 1rem 3rem;
    transition: all 0.2s;
    border-radius: 20rem;
    border: 0.2rem solid #e67e22;
}

.form__group .submit:hover {
    background-color: #e67e22;
    color: #fff;
    cursor: pointer;
}

.form__group .submit:active {
    background-color: #e67e22;
    color: #fff;
    cursor: pointer;
}

.check--hr {
    width: 100%;
    border-top: 0.1rem solid #777;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}

.form__group--check {
    margin-top: 0.5rem;
}

.form__group p {
    float: right;
    font-size: 80%;
    font-weight: 300;
    text-decoration: italic;
    padding: 0 0 0 0;
    width: 90%
}
/*---------------------------------------------------------section footer-----------------------------------*/
footer {
    background-color: #333;
    padding: 1rem;
    font-size: 80%;
}

footer .row {
    max-width: 113.5rem;
}

footer h3 {
    padding: 1rem 5rem;
    font-size: 180%;
    font-weight: 600;
    color: #fff;
}

.footerNav {
    list-style: none;
    float: left;
    margin-top: -3rem;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.footerNav li {
    display: inline-block;
    margin-right: 20px;
}

.footerNav li:last-child {
    margin-right: 0;
} 

.footerNav li a:link,
.footerNav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footerNav li a:hover,
.footerNav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*-----------------------------------------------Log in page-----------------------------------------*/
.logIn {
    background-image: linear-gradient(rgba(230, 230, 230, 0.7), rgba(230, 230, 230, 0.7)), url(../resources/img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg);
    padding: 12rem 26rem;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: top;
}

.logIn h3 {
    margin-bottom: 3rem;
}

.logIn__box {
    background-image: linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0.8));
    height: 100%;
    width: auto;
    border-radius: 2px;
}

.logIn--sub {
    margin-top: 1rem;
    padding: 3% 10%;
    border-right: 0.1rem solid #999;
}

.forgetPass,
.signUp {
    font-size: 87%;
    font-weight: 400;
    margin-left: 1.5rem;
}


.forgetPass:link,
.forgetPass:visited,
.signUp:link,
.signUp:visited {
    text-decoration: none;
    transition: color 0.2s;
    color: #000000;
}


.forgetPass:link,
.forgetPass:hover,
.signUp:link,
.signUp:hover {
    color: #e67e22;
}


.forgetPass:link,
.forgetPass:active,
.signUp:link,
.signUp:active {
    color: rgb(155, 155, 228);
}

.WithTitle {
    font-size: 90%;
    font-weight: 400;
    position: absolute;
    top: 37%;
    left: 64%;
    transform: translate(-50%, -50%);
}

/* .Facehr {
    height: 0.1rem;
    background-color: #999;
    content: "";
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
} */

/*display: block;
    height: 0.2rem;
    background-color: #e67e22;
    content: "";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;*/

.FaceCont {
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    border-top: 0.1rem solid #999;
    padding-top: 2rem;
}

.FaceCont a:link,
.FaceCont a:visited {
    cursor: pointer;
    transition: all 0.1s;
}

.FaceCont a:link,
.FaceCont a:hover {
    box-shadow: 0 1rem 1.2rem #999;
}

.FaceCont a:link,
.FaceCont a:active {
    box-shadow: none;
}

.imgFace--sub {
    width: 100%;
    height: auto;
    transition: box-shadow 0.2s;
}

.imgFace--sub:hover {
    box-shadow: 0 2rem 2.2rem #999;
}

.loginWith {
    display: inline-block;
    max-width: 4rem;
    margin: 0.8rem;
}

/*-----------------------------------------------------------section SignUp------------------------------------------------*/
.signUP {
    visibility: hidden;
}

.signUp-block {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 12;
    outline: none;
}

.signUp-block .signUp-block--sub,
.signUp-block .signUp-block--sub-1 {
    outline: none;
    position: relative;
}

.close {
    position: absolute;
    right: 0;
    top: 10;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
    z-index: 999;
}

.ROW {
    display: flex;
    flex-flow: row wrap;
}

.innerbox {
    color: #212121;
    margin: 0 auto;
    border-radius: 2px;
    height: 528px;
    max-width: 750px;
    min-width: 650px;
}

.innerbox,
.innerleft.COLimg {
    background-position: center 85%;
    background-repeat: no-repeat;
}

.innerleft {
    background-color: #e67e22;
    color: #fff;
    padding: 45px 35px;
    font-size: 15px;
}

.innerbox,
.innerleft,
.HEAD {
    font-size: 28px;
    font-weight: 500;
}

.innerbox,
.innerleft,
.HEAD-SUB {
    font-size: 18px;
    line-height: 150%;
    color: #dbdbdb;
}

.COL-2-5 {
    width: 40%;
}

.COL-3-5 {
    width: 56%;
}

.COL {
    display: inline-block;
    vertical-align: top;
}

.innerright {
    padding: 56px 35px 16px;
    position: relative;
    background-color: #fff;
}

.HEAD-SUB {
    margin-top: 20px;
}

.formSignup {
    padding: 5px 2px;
}

.form__input-2 {
    border-bottom: 0.1rem solid #999;
    padding: 1rem 1.4rem;
    color: #000;
    font-size: 1.3rem;
}

.M {
    color: #000;
}

.innerright .form__input-2:focus {
    outline: none;
    box-shadow: none;
}

.terms {
    margin-left: 40px;
    margin-top: 70px;
    font-size:70%;
    color: #999;
}

.termsC {
    text-decoration: none;
}

/*--------------------------------------------------------Section Buynow------------------------------------------------------*/
.PRICE {
    font-size: 30px;
    margin-top: 20px;
    border-top: 1px solid #999;
    padding-top: 10px;
    line-height: 3rem;
}

.N {
    margin-top: 5px;
}

.N span {
    color: #777;
}

.W {
    width: 65%;
}

.Q {
    width: 35%;
    background-color: rgb(255, 255, 255, 0.9);
    color: #777;
}

.L {
    max-width: 850px;
    min-width: 750px;
}

.form__radio-group {
    width: 49%;
    display: inline-block;
}

.form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 3.5rem;
    color: #777;
}

.form__radio-input {
    display: none;
}

.form__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
}

.form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e67e22;
    opacity: 0;
    transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
}
/*------------------------------------------------------section terms and conditions----------------------------------------------------*/

.TERMS {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: top;
    background-image: linear-gradient(rgba(230, 230, 230, 0.7), rgba(230, 230, 230, 0.7)), url(../resources/img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg);
    padding: 3rem;
}

.termBlock {
    background-image: linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0.8));
    height: 100%;
    border-radius: 1rem;
    padding: 5rem;
}

.termHeading {
    margin-bottom: 2rem;
}

.termHeading h3 {
    font-weight: 500;
}

.termsContainer {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.termsContainer::-webkit-scrollbar {
    width: 5px;
}

.termsContainer::-webkit-scrollbar-track {
    background: transparent;
}

.termsContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

.termsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.termsContainer p {
    margin-top: 2rem;
    font-weight: 400;
}

/*-----------------------------------------------section templates--------------------------------*/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
}

.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
 
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
  
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
  
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}
  
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/*------------------------------------------------------PHP-----------------------------------------------------*/


